@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');


$colorB:rgb(29, 66, 121);
$color:white;
$fontF:'Gayathri', sans-serif;
$fontS:1.5rem;

body {
    background: $colorB;
    color: $color;
    font-family: $fontF;
    letter-spacing:.2rem;
   font-size:$fontS;
}

img {
    display:block;
    width:30rem;
    height:auto;
    margin:1rem auto;
    max-width:100%;
}

.imgBg {
    width:30rem;
    height:15rem;
    background:url("../imgs/img1.jpg") center / cover no-repeat;
}